In [2]:
import wrds 
import pandas as pd

https://wrds-www.wharton.upenn.edu/data-dictionary/crsp_a_stock/dsf/  
https://wrds-www.wharton.upenn.edu/pages/about/data-vendors/sp-global-market-intelligence/  
https://wrds-www.wharton.upenn.edu/data-dictionary/crsp_a_stock/dsfhdr/

In [6]:
conn = wrds.Connection()
# %ki~9!e5AXPN_yZ

Enter your WRDS username [lema]: lmaksyme
Enter your password: ········

WRDS recommends setting up a .pgpass file.

Create .pgpass file now [y/n]?:  y

Created .pgpass file successfully.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done

In [7]:
stocks = ['AKRO','CNTA','NMRA','BLTE','LGND','HRMY','GLPG','NRIX',
          'MIRM','RXRX','MNKD','CLDX','ARVN','SYRE','VRDN','OCUL',
          'NAMS','BCYC','BEAM','BCRX','IMCR','NTLA','SNDX','NVAX',
          'FTRE','RCKT','TARS','RCUS','XNCR','DAWN','SPRY','IRON',
          'ELVN','ARDX','UPB','KURA','TVTX','COGT','SAVA','PRAX',
          'INVA','BCAX','GYRE','AUTL','PHVS','TYRA','IMTX','PHAT',
          'AVBP','ARQT','VIR','AUPH','IGMS','MRVI','CAPR','RLAY',
          'APLT','ANAB','CRGX','MESO','LQDA','CGEM','ZYME','SEPN',
          'RAPP','BIOA','PLRX','MDXG','ZBIO','SLN','SANA','ETNB',
          'PRTA','DNTH','ABCL','REPL','ANNX','CRMD','ABUS','ERAS',
          'LENZ','NUVB','IMNM','MBX','HUMA','TRML','MLYS','OPT',
          'OLMA','OCS','ADPT','MREO','LXRX','ALMS','ATXS','YMAB',
          'ABVX','CDMO','EXAI','TNGX','KRRO','NGNE','STOK','CVAC',
          'QTTB','TRDA','SLRN','PHAR','CELC','ORIC','SVRA','TECX',
          'TERN','AURA','THRD','TVGN','CRVS','PRME','ARCT','LRMR',
          'ALLO','URGN','EYPT','VERV','KALV']

In [8]:
stock_str = "('" + "','".join(stocks)+ "')"

In [11]:
query = f"""
    SELECT 
         *
    FROM
        crsp_a_stock.dsfhdr AS c
    WHERE
        c.htsymbol IN {stock_str}
"""

header = conn.raw_sql(query)

# query of the header file, we need to select the list we want from here.

In [12]:
cusips = header['hcusip']

In [27]:
cusips_str = "('" + "','".join(cusips)+ "')"

In [32]:
query = f"""
    SELECT 
        c.cusip,
        c.date,
        c.bid,
        c.ask,
        c.vol
    FROM
        crsp_a_stock.dsf AS c
    WHERE
        c.date > '2023-12-01' AND
        c.cusip IN {cusips_str}
"""

conn.raw_sql(query)

       cusip        date        bid        ask          vol
0   03783310  2023-12-04  189.44000  189.46001   42807827.0
1   03783310  2023-12-05  193.49001  193.50999   65774280.0
2   03783310  2023-12-06  192.32001  192.33000   40462908.0
3   03783310  2023-12-07  194.21001  194.24001   46950024.0
4   03783310  2023-12-08  195.69000  195.72000   52866421.0
5   03783310  2023-12-11  193.19000  193.20000   60209019.0
6   03783310  2023-12-12  194.66000  194.67000   51991385.0
7   03783310  2023-12-13  197.87000  197.89000   69834722.0
8   03783310  2023-12-14  198.14000  198.16000   66850673.0
9   03783310  2023-12-15  197.12000  197.13000  127416284.0
10  03783310  2023-12-18  195.86000  195.88000   55098711.0
11  03783310  2023-12-19  196.92000  196.92999   40229887.0
12  03783310  2023-12-20  194.84000  194.85001   51740699.0
13  03783310  2023-12-21  194.67999  194.70000   46086400.0
14  03783310  2023-12-22  193.53000  193.66000   36702455.0
15  03783310  2023-12-26  193.03999  193.06000   28541150.0
16  03783310  2023-12-27  193.17999  193.20000   47538658.0
17  03783310  2023-12-28  193.57001  193.58000   33691704.0
18  03783310  2023-12-29  192.49001  192.53999   42120662.0
19  67066G10  2023-12-04  455.01001  455.13000   43403060.0
20  67066G10  2023-12-05  465.73999  465.81000   36895633.0
21  67066G10  2023-12-06  455.00000  455.17001   37804918.0
22  67066G10  2023-12-07  465.92001  465.98999   34840245.0
23  67066G10  2023-12-08  475.07001  475.09000   35691330.0
24  67066G10  2023-12-11  466.34000  466.39999   50518851.0
25  67066G10  2023-12-12  476.50000  476.57001   36893758.0
26  67066G10  2023-12-13  480.89001  481.00000   44560904.0
27  67066G10  2023-12-14  483.39001  483.50000   38856080.0
28  67066G10  2023-12-15  488.89999  489.44000   47794691.0
29  67066G10  2023-12-18  500.76999  500.81000   41046442.0
30  67066G10  2023-12-19  496.01999  496.13000   46153580.0
31  67066G10  2023-12-20  481.10001  481.20001   39610600.0
32  67066G10  2023-12-21  489.82999  489.97000   29893061.0
33  67066G10  2023-12-22  488.19000  488.35001   25110428.0
34  67066G10  2023-12-26  492.79999  492.82001   24313815.0
35  67066G10  2023-12-27  494.17001  494.22000   23303170.0
36  67066G10  2023-12-28  495.19000  495.20999   24521346.0
37  67066G10  2023-12-29  495.17001  495.26001   38725363.0